@model TrabalhoASPNet.Models.Livro

@{
ViewData["Title"] = "Create";
}

<h1>Adicionar livro</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Titulo" class="control-label"></label>
                <input asp-for="Titulo" class="form-control" />
                <span asp-validation-for="Titulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AnoPublicacao" class="control-label"></label>
                <input asp-for="AnoPublicacao" class="form-control" />
                <span asp-validation-for="AnoPublicacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AutorId" class="control-label"></label>
                @Html.DropDownListFor(model => model.AutorId, (SelectList)ViewData["AutorId"], "Selecione um autor", new { @class = "form-control" })
                <span asp-validation-for="AutorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EditoraId" class="control-label"></label>
                @Html.DropDownListFor(model => model.EditoraId, (SelectList)ViewData["EditoraId"], "Selecione uma editora", new { @class = "form-control" })
                <span asp-validation-for="EditoraId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GeneroId" class="control-label"></label>
                @Html.DropDownListFor(model => model.GeneroId, (SelectList)ViewData["GeneroId"], "Selecione um gênero", new { @class = "form-control" })
                <span asp-validation-for="GeneroId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Preco" class="control-label"></label>
                <input asp-for="Preco" class="form-control" />
                <span asp-validation-for="Preco" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuantidadeEmEstoque" class="control-label"></label>
                <input asp-for="QuantidadeEmEstoque" class="form-control" />
                <span asp-validation-for="QuantidadeEmEstoque" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar à lista</a>
</div>

@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
